.headbar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../image/cocktail-background.jpg");
  background-size: cover;
  background-position: 100% 20%;
  box-shadow: 0 0 15px #333;
  position: relative;
  z-index: 9999;
  height: 200px;
}
.title {
  color: #fff;
  font-style: italic;
  text-transform: lowercase;
  pointer-events: none;
}
.module {
  margin: 0 auto;
}
.title {
  font-size: 78px;
  margin: 0;
}
.logo {
  -webkit-transform: rotate(-10deg);
  margin-bottom: 30px;
}
.logo:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 376px){
  .title{
    font-size: 64px;
  }
}